@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.cardOne {
    background: url(../img/presciptionUploaderBg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.cardTwo {
    background: url(../img/healthcare-service-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.cardThree {
    background: url(../img/calltoActionBg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.allCatagory {
    margin: auto;
}